<!--suppress HtmlUnknownTarget -->
<link rel="stylesheet" href="/stylesheets/about.css">

<div id="about-container" style="display: grid; place-items: center; padding-top: 5rem; ">
    <h1 id="about_welcome__title"> About Me </h1>
    <div id="about-text__container">
        <h2 id="about-text__title"> Hi there, </h2>
        <p id="about-text">
            I do some Java & Sql stuff(Yeah I know) and some minecraft stuff too. <br>
            I'm programming with Java since about 2-2,5 years. And nodejs since about 1,5 years, <br>
            I use nodejs just for websites like this one. For everything else I just use Java, for example <br>
            discord Bots, minecraft plugins and some Back-end stuff. I personally would say that my front-end <br>
            skills are pretty okay, but I hate doing it because I'm not that creative. <br>
        </p>
        <p>
            If you have any other questions look at my social media in <br>
            the right bottom corner or check out <a href="/contact" style="color: var(--color-general-accent);"> Contact </a>
        </p>
    </div>
</div>
