<!--suppress HtmlUnknownTarget -->
<link rel="stylesheet" href="/stylesheets/contact.css">
<div id="contact-container">
    <h1 id="contact-title"> Contact Me! </h1>
    <p id="contact-description" style="text-align: center">
        If you have any questions or anything your can just <br> contact me through the following ways :
    </p>
    <div id="contact-links__container">
        <ul id="contact-links">
            <li>
                <span class="material-symbols-outlined"> alternate_email </span>
                <a href="mailto:contact@bourg.dev"> Send me an Email </a>
            </li>
            <li>
                <span class="material-symbols-outlined"> mail </span>
                <a href="https://discord.com/users/933699621878906921"> Contact me on discord </a>
            </li>
        </ul>
    </div>
</div>