<!--suppress HtmlUnknownTarget -->
<link rel="stylesheet" href="/stylesheets/index.css">
<div id="welcome-text__container">
    <h1 id="welcome-text"> Hey, I'm <span id="name-text"> Kim, </span> </h1>
</div>
<div id="welcome-description__container">
    <p id="welcome-description"> Backend Dev </p>
</div>