<nav>
    <ul class="circles">
        <li class="circle">
            <span class="material-symbols-outlined nav-button" style="font-size: 3rem" onclick="window.location.href = '/'"> home </span>
            <div class="description-container">
                <h3 class="description-text"> Home </h3>
            </div>
        </li>
        <li class="divider"></li>
        <li class="circle">
            <span class="material-symbols-outlined nav-button" style="font-size: 3rem" onclick="window.location.href = '/about'"> info </span>
            <div class="description-container">
                <h3 class="description-text"> About </h3>
            </div>
        </li>
        <li class="circle">
            <span class="material-symbols-outlined nav-button" style="font-size: 3rem" onclick="window.location.href = '/projects'"> code </span>
            <div class="description-container">
                <h3 class="description-text"> Projects </h3>
            </div>
        </li>
        <li class="circle">
            <span class="material-symbols-outlined nav-button" style="font-size: 3rem" onclick="window.location.href = '/contact'"> alternate_email </span>
            <div class="description-container">
                <h3 class="description-text"> Kontakt </h3>
            </div>
        </li>

        <li class="circle">
            <span class="material-symbols-outlined nav-button" id="setting-button" style="font-size: 3rem"> settings </span>
            <div class="description-container">
                <h3 class="description-text"> Settings </h3>
            </div>
        </li>
    </ul>
</nav>
<div id="circularMenu" class="circular-menu">

    <a class="floating-btn" onclick="document.getElementById('circularMenu').classList.toggle('active');">
        <span class="material-symbols-outlined"> person </span>
    </a>

    <div class="items-wrapper">
        <a href="https://www.instagram.com/b0urgk/?theme=dark" class="menu-item "></a>
        <a href="https://twitter.com/B0urgDev" class="menu-item "></a>
        <a href="https://github.com/B0urg" class="menu-item "></a>
        <a href="#" class="menu-item" id="placeholder-item">
            <span class="material-symbols-outlined" style="color: black; font-size: 2.5rem"> construction </span>
        </a>
    </div>

</div>