<nav>
    <ul class="circles">
        <li class="circle">
            <div class="nav-button" id="account-button" onclick="this.classList.add('rotatingY')"></div>
            <div class="description-container">
                <h3 class="description-text"> Account </h3>
            </div>
        </li>
        <li class="divider"></li>
        <li class="circle">
            <div class="nav-button" id="about-button" onclick="window.location.href = '/about'"></div>
            <div class="description-container">
                <h3 class="description-text"> About </h3>
            </div>
        </li>
        <li class="circle">
            <div class="nav-button" id="projects-button" onclick="window.location.href = '/projects'"></div>
            <div class="description-container">
                <h3 class="description-text"> Projects </h3>
            </div>
        </li>
        <li class="circle">
            <div class="nav-button" id="contact-button" onclick="window.location.href = '/contact'"></div>
            <div class="description-container">
                <h3 class="description-text"> Kontakt </h3>
            </div>
        </li>

        <li class="circle">
            <div class="nav-button" id="settings-button" onclick="this.classList.add('rotating')"></div>
            <div class="description-container">
                <h3 class="description-text"> Settings </h3>
            </div>
        </li>
    </ul>
</nav>