<button id="myBtn">Open Modal</button>
<div id="settings-modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Settings</h2>
        </div>
        <div class="modal-body">
            <label for="switch" style="padding-right: 10px"> Dark mode </label>
            <label id="switch">
                <input type="checkbox" id="dark-mode-switch" checked>
                <span class="slider round"></span>
            </label>
        </div>
        <div class="modal-footer">
            <h3>More settings following...</h3>
        </div>
    </div>

</div>
